<div>
    <form (ngSubmit)="onLogin()">
      <div>
        <label for="registration_no">Registration No:</label>
        <input type="text" id="registration_no" [(ngModel)]="registration_no" name="registration_no" required>
      </div>
  
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required>
      </div>
  
      <button type="submit">Login</button>
    </form>
</div>
<div>
    <p>Not registered? Register below</p>
</div>
<div>
    <form (ngSubmit)="onRegister()">
      <div>
        <label for="registration_no">Registration No:</label>
        <input type="text" id="registration_no" [(ngModel)]="registration_no" name="registration_no" required>
      </div>
  
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required>
      </div>
  
      <button type="submit">Register</button>
    </form>
</div>
  